


<ion-card >
  <ion-card-content>
    <ion-item>
      <ion-text>
        <ion-skeleton-text [animated]="true" ></ion-skeleton-text>
      </ion-text>
      <ion-skeleton-text [animated]="true" ></ion-skeleton-text>
    </ion-item>


    <img src="https://ionicframework.com/docs/img/demos/card-media.png" alt="Cat"  />
    <ion-item >
      <ion-text>
        <ion-skeleton-text [animated]="true" ></ion-skeleton-text>
      </ion-text>
      <ion-skeleton-text [animated]="true" ></ion-skeleton-text>
    </ion-item>
  </ion-card-content>

</ion-card>
